.options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.card{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}
li{
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;
}
li .card:hover{
    border: 1px solid blue;
}
ol{
    padding: 0;
}
.options ol li .card {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    background: #eee;
    box-shadow: #eee 0px 3px 8px;
}
.options ol li {
    margin: 0;
}
.options ol {
    margin: 0;
}
body{
    background-color: black;
}